*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	background-image:url(../images/fundoTecno.png);
	height: 2000px;
	background-size: cover 
}

.header{
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #00010D;
	position: fixed;
}

.center{
	width: 1280px;
	margin: 0 auto;
}

div.backgroundImage{
	background-image:url(../images/BackgroundCyberpunk.png);
	width: 100%;
	height: 950px;
	background-size: contain;
	background-repeat: no-repeat;
}

 img#logo{
 	position: relative;
 	top: 20%;
 	left: 25%;
 	width: 30%;
 	height: 30%;

 	
 }

div.menuBox{

	display:inline-block;
	float: center;
	margin-left: 16%;
	margin-top: 10px;

}

a.butMenu{

 	font-family: "Lemon Milk";
 	text-decoration: none;
 	border-bottom: 3px solid #F2E205;
 	margin-right: 19px;
 	font-size: 15px;
 	font-weight: bolder;
 	
 }

a.butMenu:visited{
	color: #55C1D9;
}

a.butMenu:hover{
	border-bottom: 3px solid #55C1D9;
}

div.iconBox{
	margin-right: 16%;
	margin-top: 7px;
	float: right;
	
}


a.icon>img.icon{
	width: 25px;
	height: 25px;
	margin-right: 17px;	
	border: 0.5px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}

a.icon>img.icon:hover{	

	background-color: #F2E205;
	
}

div.formBackground{
	width: 30%;
	height: 66%;
	background-color: #55C1D9;
	position: absolute;
	float: right;
	top: 20%;
	right: 7%;
}

div.form{
	width: 100%;
	height: 100%;
	background-image:url(../images/fundoTecno.png);
	position: relative;
	float: right;
	top: 2%;
	right: 2%;
	
}
